.header {
	display: flex;
	align-items: center;
	padding: 40px 0;
}

.header .logo {
	flex-shrink: 0;
}

.header .join-account {
	display: flex;
	width: 210px;
	justify-content: space-between;
}

.header .join-account .button:hover {
	border-radius: 50px;
}

@media screen and (max-width: 1024px) {
	.header {
		justify-content: space-between;
	}
}