.hero-section {
	display: flex;
	padding: 16px 0;
	justify-content: space-between;
}

.hero-section .content {
	margin-top: 37px;
	max-width: 525px;
}

.hero-section .content .subtitle {
	max-width: 444px;
	font-size: 20px;
	margin: 30px 0 40px
}

.hero-section .content .button.sign-up {
	font-size: 20px;
	padding: 3px 40px;
}

.hero-section .right-image {
	background-color: #7DF1E8;
	border-top-left-radius: 400px;
	height: 600px;
	width: 504px;
}

@media screen and (max-width: 768px) {
	.hero-section .right-image {
		display: none;
	}

	.hero-section .content {
		max-width: 100%;
		text-align: center;
	}

	.hero-section .content .subtitle {
		margin: 30px auto;
	}
}

@media screen and (max-width: 600px) {
	.hero-section .content .subtitle {
		font-size: 16px;
	}
}