.partnership-section {
	display: flex;
	justify-content: space-between;
	padding: 180px 0 136px;
}

.partnership-section .left-content {
	max-width: 475px;
}

.partnership-section .left-content .title {
	font-size: 48px;
	line-height: 1;
}

.partnership-section .left-content .button {
	font-size: 20px;
	margin-top: 50px;
	padding: 3px 37px;
}

.partnership-section .right-content {
	width: 525px;
}

.partnership-section .right-content .type-partnership .item {
	display: flex;
	padding: 52px 0 44px;
	justify-content: space-between;
}

.partnership-section .right-content .type-partnership .item:first-child {
	padding-top: 10px;
}

.partnership-section .right-content .type-partnership .item:not(:last-child) {
	border-bottom: 1px solid #E4E4E7;
}

.partnership-section .right-content .type-partnership .item .name {
	max-width: 195px;
	line-height: 2;
}

.partnership-section .right-content .type-partnership .item .desc {
	max-width: 230px;
	line-height: 1.5;
}

@media screen and (max-width: 840px) { 
	.partnership-section {
		flex-direction: column;
	}

	.partnership-section .left-content {
		margin: 0 auto 80px;
		text-align: center;
	}

	.partnership-section .right-content {
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) {
	.partnership-section .right-content {
		max-width: 400px;
	}

	.partnership-section .right-content .type-partnership .item {
		flex-direction: column;
		text-align: center;
	}

	.partnership-section .right-content .type-partnership .item .name {
		margin: 0 auto;
		font-size: 24px;
		max-width: 400px;
	}

	.partnership-section .right-content .type-partnership .item .desc {
		margin: 30px auto 0;
		max-width: 400px;
	}
}

@media screen and (max-width: 480px) {
	.partnership-section .right-content {
		max-width: 350px;
	}
}

@media screen and (max-width: 400px) {
	.partnership-section .right-content {
		max-width: 300px;
	}
}