.promo-section {
	padding: 81px 0 150px;
}

.promo-section .content {
	border-top-left-radius: 140px;
	border-bottom-right-radius: 140px;
	background-color: #FFE3FB;
	padding: 66px 212px 72px;
	text-align: center;
}

.promo-section .content .button {
	margin-top: 46px;
	padding: 15px 37px;
}

@media screen and (max-width: 840px) { 
	.promo-section .content {
		padding: 33px 101px;
	}

	.promo-section .content .title {
		font-size: 28px;
	}

	.promo-section .content .button {
		margin-top: 24px;
	}
}

@media screen and (max-width: 480px) {
	.promo-section .content {
		padding: 40px 60px;
	}

	.promo-section .content .title {
		font-size: 18px;
	}
}